# @internal scope resolved from GCP Artifact Registry (verika-490105/verika-packages)
@internal:registry=https://us-east1-npm.pkg.dev/verika-490105/verika-packages/
//us-east1-npm.pkg.dev/verika-490105/verika-packages/:_authToken=${NODE_AUTH_TOKEN}
